[submodule "DSharpPlus-Aerochat"]
	path = DSharpPlus-Aerochat
	url = git@github.com:not-nullptr/DSharpPlus-Aerochat.git
[submodule "Aerovoice"]
	path = Aerovoice
	url = git@github.com:/not-nullptr/Aerovoice
